extends: default.liquid
title: ""
---

{% for post in posts %}
  <article>
    <div class="published-date">
      <i>{{ post.humandate }}</i>
    </div>
    <a href="{{ post.path }}">
      <h2>{{ post.title }}</h2>
    </a>
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | truncatewords: 23, '...' }}
    {% endif %}
  </article>
{% endfor %}
