extends: default.liquid
title: ""
---

{% for post in posts %}
  <article>
    <div class="published-date">
      <i>{{ post.humandate }}</i>
    </div>
    <h2><a href="{{ post.path }}">{{ post.title }}</a></h2>
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | truncatewords: 23, '...' }}
    {% endif %}
  </article>
{% endfor %}
