title: ""
layout: default.liquid
data:
  translations: ~
  social_img: ~
  subtitle: ""
  comments: ~
  humandate: ~
  css: ~
---
{% for post in collections.posts.pages %}
  <article>
    <div class="published-date">
      <i>{{ post.data.humandate }}</i>
    </div>
    <a href="{{ post.permalink }}">
      <h2>{{ post.title }}</h2>
    </a>
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | truncatewords: 23, '...' }}
    {% endif %}
  </article>
{% endfor %}
