<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    {% include assets/main.css %}
    </style>
    <link rel="dns-prefetch" href="//www.google-analytics.com/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=m2llJQPQq8">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=m2llJQPQq8">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=m2llJQPQq8">
    <link rel="manifest" href="/manifest.json?v=m2llJQPQq8">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=m2llJQPQq8" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=m2llJQPQq8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">

    {%- include _layouts/social.liquid %}

    {% if title != "" %}
    <title>{{ title | append: " | Matthias Endler" }}</title>
    {%- else %}
    <title>{{ "Matthias Endler" }}</title>
    {%- endif %}

    <meta name="author" content="Matthias Endler">
    <meta name="description" content="Personal website of Matthias Endler, a Software Engineer interested in low-level programming and backend development. PHP, Python, Go, Rust."/>

    {%- if css %}
    <link rel="stylesheet" type="text/css" href="/{{ css }}">
    {%- endif %}
  </head>
  <body>
        <header>
            <a class="logo" href="/">
              {%- include _layouts/logo_winter.liquid %}
            </a>
            <p>
              Backend Engineer at trivago. Likes just-in-time compilers and hot chocolate. <a href="/about">About me.</a>
            </p>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/talks">Talks</a></li>
                <li><a href="/rss.xml">Feed</a></li>
              </ul>
            </nav>
        </header>
        <main role="main">
            {% if humandate %}
              <div class="published-date">
                <i>Published on {{ humandate }}</i>
              </div>
            {% endif %}
            {%- if title != "" %}
              <h1>{{ title }}</h1>
            {%- endif %}
            {%- if subtitle != "" %}
             <i>&mdash; {{ subtitle }}</i>
            {%- endif %}
            {{ content }}
        </main>
        {%- include _layouts/footer.liquid %}
        {%- include _layouts/analytics.liquid %}
  </body>
</html>
